{% extends 'base.html' %}

{% block meta %}
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1 class="p-3 mb-2 bg-white text-dark"> Formulir Registrasi</h1>

        <form method="POST" >
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>
                </tr>
            </table>
        </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}

</div>
</section>

{% endblock content %}