{% extends 'base.html' %}

 {% block content %}

  <h1 class="font-monospace"> Todolist</h1>


  <h5> Username: </h5>
  <p>{{username}}</p>

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">


    <tr>

    </tr>
    {% comment %} Add the data below this line {% endcomment %}
      {% for task in list_tasks %}
    <tr>
    </tr>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">To do was made on: {{task.date}}</div>
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <p class="card-text">{{task.description}}</p>
      <button class="btn btn-success" style="text-align: center;"><a
                                    style="color:white"
                                    >done</a></button>

        <button class="btn btn-danger" style="text-align: center;"><a
                style="color:white"
                >delete</a></button>
  </div>
</div>
</div>
{% endfor %}


<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:tambah_task' %}">Tambah Task</a></button>

 {% endblock content %}
