{% extends 'base.html' %}

 {% block content %}

  <h1>My Watch List</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{NPM}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
      {% for film in list_film %}
    <tr>
        <td>{{film.watched}</td>
        <td>{{film.title}}</td>
        <td>{{film.rating}}</td>
        <td>{{film.release_date}}</td>
        <td>{{film.review}}</td>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}
